<navbar></navbar>
<div class="container">
  <div class="row">

  </div>
  <div class="row">
    <div class="col-md-4">
      <h1>{{games[0].name}}</h1>

      <p><b>{{ games[0].rating_system }} rating system</b></p>
      <p>
        Players: {{games[0].players.length}}
      </p>
      <p>
        Games Played: {{games[0].results.length}}
      </p>
      <div style="padding-left:0px!important;padding-top:20px;padding-bottom:20px;height:160px;width:100%;" class="col-md-12">
        <a style="height:100%;font-size:30px;font-weight:bolder;text-align: center;vertical-align: middle;line-height: 110px; " ng-href="/game/{{games[0]._id}}/play" class=" play-button btn btn-warning" type="button" name="button">Play</a>
      </div>
    </div>
    <div class="col-md-5">
      <h1>Top 5 Rated Players</h1>
      <div class="panel panel-default">
        <table class="table table-striped">
          <thead>
            <th>
              Rank
            </th>
            <th>
              Player
            </th>
            <th>
              Rating
            </th>
            <th>
              W
            </th>
            <th>
              L
            </th>
          </thead>
          <tbody>
            <tr ng-repeat="player in games[0].players | orderBy:'-points' | limitTo:5">
              <td>
                {{$index + 1}}
              </td>
              <td>
                {{player.name}}
              </td>
              <td>
                {{player.points}} <span ng-class="{'success': player.delta > 0,'error': player.delta < 0}"><span ng-show="player.delta>0">+</span>{{player.delta}}</span>
              </td>
              <td>
                {{player.wins}}
              </td>
              <td>
                {{player.losses}}
              </td>
            </tr>
          </tbody>
          <button ng-click="leaderboard()" style="display:inline-block;float:right;" class="btn btn-default" type="button" name="button">view all</button>
        </table>
      </div>
    </div>
    <div class="col-md-3">
      <h1>Recent</h1>
      <div class="panel panel-default">
        <div style="padding:6px;">
          <div style="color:#d3d3d3;padding:2px;" ng-repeat="result in games[0].results | orderBy:'-game_date' | limitTo:2 | filter: { status: 'Final' }">
            <span style="font-weight:bolder!important;">
              <strong style="color:#000;font-weight:bolder!important;">{{result.winner}}</strong>
            </span> defeated
            <span style="font-weight:bolder!important;">
                <strong style="color:#000;font-weight:bolder!important;">{{result.loser}}</strong>
              </span>
              <span> {{result.timePassed}} ago</span>
              <hr style="width:100%;">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!--<div class="panel panel-default">
        <canvas id="leaderboard-chart" width="800" height="150"></canvas>
      </div>-->
      <div class="panel panel-default">
        <canvas id="leaderboard-bubble-chart" width="800" height="200"></canvas>
        <p style="padding:2px;text-align:center;">
          <b>x-axis = Wins</b> | <b>y-axis = Rating</b> | <b>r-value = Games Played</b>
        </p>
      </div>
    </div>
  </div>
</div>
