<navbar></navbar>
<div class="container">
  <form class="form-horizontal">
  <fieldset>

  <!-- Form Name -->
  <legend>Create Game</legend>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Name</label>
    <div class="col-md-4">
    <input ng-model="game.name" id="textinput" name="textinput" type="text" placeholder="name of game" class="form-control input-md">

    </div>
  </div>

  <!-- Select Basic -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="rank_system">Ranking System</label>
    <div class="col-md-4">
      <select ng-model="game.rating_system" id="rank_system" name="rank_system" class="form-control">
        <option value="Elo">Elo</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-4 col-md-offset-4">
      <button ng-click="saveGame()" class="btn btn-default" type="button" name="button">Save</button>

    </div>
  </div>

  </fieldset>
  </form>

</div>
